<!DOCTYPE html>
<html>

<head>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

  {% include meta.html %}

  <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <link rel="stylesheet" type="text/css" href="{{ site.path }}/css/style.css">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml"
  />
  <script src="{{ site.path }}/js/jquery.min.js"></script>
  <script src="{{ site.path }}/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/Aurora">Aurora</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="{% if page.layout == "aurora_library" %}active{% endif %}">
            <a href="{{ site.baseurl }}/Aurora/Library">Library</a>
          </li>
          <li class="{% if page.layout == "aurora_story" %}active{% endif %}">
            <a href="{{ site.baseurl }}/Aurora/Story">Story</a>
          </li>
          <li class="{% if page.title == "Aurora" %}active{% endif %}">
            <a href="{{ site.baseurl }}/Aurora">Home</a>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container">
    <div class="content">
      {{ content }}
    </div>
  </div>
  <!-- /.container -->

</body>
</html>