<!DOCTYPE html>
<html>

<head>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

  {% include meta.html %}

  <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/js/popper.min.js"></script>
  <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
</head>

<body>

  {% include nav-bar.html %}

  {% include header.html %}
  
  <div class="container">
    <div class="content">
      {{ content }}
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <span class="text-muted">Website built and maintained by <a href="https://github.com/{{ site.footer-links.github }}">the-prism</a></span>
    </div>
  </footer>
</body>

</html>
